.container{
    max-width: 400px;
    margin: auto;
    border: solid rgb(212, 205, 205) 1px;
    box-shadow: 0 0 2px rgb(207, 203, 203);
    border-radius: 10px;
    margin-top: 15px;
}
.formSubmit {

    padding: 15px;
}

.title {
    padding-top: 10px;
 
    text-align: center;
}
.question {
    font-size: 1rem;
    font-weight: 500;
    color: #0D6EFD;
    text-align: center;
}