.container {
    text-align: center;
    width: 400px;
    border: solid rgb(212, 205, 205) 1px;
    box-shadow: 0 0 2px rgb(207, 203, 203);
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}